/* Reset básico y tipografía */
* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  color: #ffffff;
  box-sizing: border-box;
}

body {
  background-color: #000000; /* fondo negro */
  overflow: hidden; /* evita scrolls por el canvas */
}

/* Contenido principal sobre el fondo */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-height: 80vh;
  position: relative; /* asegura que esté encima del canvas */
  z-index: 1; /* encima del canvas */
  text-align: center;
}

/* Estilo de los enlaces */
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li a {
  margin-block: 0.5rem;
  display: inline-block;
  text-decoration: none;
  background-color: #6a0dad;
  padding-inline: 1rem;
  padding-block: 0.7rem;
  border-radius: 5px;
  border: 1px solid #ffffff;
  transition: all 0.3s ease-in-out;
}

li a:hover {
  background-color: #210724;
  transform: scale(1.1);
}

/* Tipografía del título */
.titulo h1 {
  font-family: "DynaPuff", system-ui;
  font-size: 5rem;
  color: #7b2cbf;
}

.titulo p {
  font-family: "Doto", system-ui;
  font-style: italic;
  font-size: 1.2rem;
}

/* Opcional: ajusta tamaños en pantallas pequeñas */
@media (max-width: 768px) {
  .titulo h1 {
    font-size: 3rem;
  }
  .titulo p {
    font-size: 1rem;
  }
}
